.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;

  flex-direction: column;
  position: relative;
  padding-top: 100px;
}

.reservation__title {
  display: flex;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  position: relative;
  margin: 0px auto 80px;
}

.reservation__form {
  min-height: 720px;
  max-height: 100%;
}
